* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}




span.close:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

span.close {
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    padding: 10px 15px;
    border: 1px black solid;
    border-radius: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img.logo {
    width: 200px;
}

ul.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

li.navitems {
    margin: 0px 11px;
}

a.item-links {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #484848;
    font-weight: 600;
}



.width-container,
nav.nav-container,
.main-box,
.width-container {
    width: 1200px;
    margin: auto;
}

h1.page-title {
    text-align: center;
    font-family: monospace;
    font-size: 26px;
    line-height: 1.6em;
    margin: 0px auto 50px auto;
}

p.description {
    margin: auto;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.input-section {
    margin: 32px auto;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.content-box {
    /* width: 90%; */
    margin: auto;
}

label.name {
    font-family: monospace;
    font-size: x-large;
    line-height: 1.6em;
    text-align: center;
}

input#first-name,
input#second-name {
    font-size: 18px;
    line-height: 1.4px;
    padding: 15px 25px;
    border-radius: 40px;
    border: solid 1px black;
    text-transform: capitalize;
}

.name-box {
    text-align: center;
}

button.submit-button,
a.LoveMatch-again {
    display: flex;
    margin: 41px auto;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 40px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    background-color: #d74a2b;
    color: wheat;
    width: fit-content;
    text-decoration: none;
}

.main-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 90%; */
    margin: auto;
}

p#copyright,
a.developer {
    font-family: 'poppins', sans-serif;
    font-size: medium;
    color: #4c4b4b;
    word-spacing: 2px;
    font-weight: 400;
    text-transform: capitalize;
}

header {
    position: absolute;
    right: 0;
    left: 0;
    height: max-content;
    top: 0;
    padding: 15px auto;
}

.content {
    margin-top: 150px;
}

.main-footer-content {
    padding: 25px 0px;
}

form.names-form {
    padding: 25px 0px;
}

.names-box {
    text-align: center;
    font-family: monospace;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.6em;
}

.result-animation {
    text-align: center;
    height: max-content;
}

img#result-animation {
    height: 354px;
}

p#love-percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 140px;
    padding: 0px;
    text-wrap: wrap;
    font-family: 'poppins', sans-serif;
    line-height: 1.4em;
    font-weight: 600;
    background-image: url(./images/love-percentage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
    margin: -80px auto 0px auto;
    position: relative;
    z-index: 97;
    color: white;


}

.result-container .names-box {
    margin-bottom: 22px;
}

p#result-paragraph {
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: x-large;
    line-height: 1.4em;
}


a.LoveMatch-again:hover,
button.submit-button:hover {
    border: 1px solid #d74a2b;
    color: #d74a2b;
    background-color: white;
}

.share-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

span.share {
    font-size: x-large;
    font-family: monospace;
    font-weight: 600;
    margin-right: 15px;
}


.share-icons-box img {
    width: 50px;
    margin: 0px 10px;
}

section.popup-main {
    position: relative;
    width: 100%;
}

.about {
    display: none;
    position: absolute;
    width: 100%;

}

.popup {
    width: 60%;
    margin: auto;
    padding: 45px 35px;
    margin: 50px auto;
    background-color: white;
}


@media only screen and (max-width: 1200px) {

    hr,
    .width-container,
    nav.nav-container,
    .content-box,
    .main-box,
    .main-footer-content,
    .about {
        width: 90%;
        margin: auto;
    }


}


@media only screen and (max-width: 768px) {

    input#second-name,
    input#first-name {
        font-size: 15px;
    }

}

@media only screen and (max-width: 696px) {


    label.name {
        width: 270px;
        text-wrap: nowrap;
    }

    .form-container {
        flex-direction: column;
        width: 100%;
    }


    .name-box {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 580px) {

    .name-box {

        flex-direction: column;
    }

    .name-box br {
        display: none;
    }

    button.submit-button {
        margin: auto;
        font-size: large;
        padding: 10px 20px;
    }

    img.logo {
        width: 138px;
    }

    button.submit-button {
        margin: auto;
        font-size: large;
        padding: 10px 20px;
    }

    h1.page-title {
        margin-bottom: 20px;
        line-height: 1.3em;
    }

    p.description {
        font-size: large;
    }

    .input-section {
        margin-top: 0px;
    }

    input#first-name,
    input#second-name {
        box-sizing: border-box;
        margin: 3px;
    }

    .share-container {
        flex-direction: column;
        background: beige;
        padding: 10px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    span.share {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: solid 1px darkgray;
        padding-bottom: 10px;
        margin: 0px;
    }

    .share-icons-box {
        padding-top: 10px;
    }



}

@media only screen and (max-width: 396px) {

    a.item-links {
        font-size: unset;
    }

    img.logo {
        width: 101px;
    }

    nav.nav-container {
        padding-top: 28px;
    }

    h1.page-title {
        font-size: revert;
    }
}